.app {
    width: 600px;
    margin: 40px auto;
}

.flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flow-item__value {
    border-bottom: 1px solid #000;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    height: 1.2rem;
}

.flow-item.result {
    margin: 20px 0 0;
    width: 100%;
}

.flow-item.result .flow-item__value {
    text-align: right;
}

.input {
    display: block;
    padding: 5px 10px;
    width: calc(100% - 24px);
    text-align: right;
}

.operations {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
}

.operations__item {
    width: 100px;
}

.digits {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.digits__item {
    width: 180px;
    padding: 10px 0;
    margin: 5px 0;
}

.digits__item:first-of-type {
    margin: 5px 210px;
}